.articleCard {
  width: 95%;
  border: 1px solid black;
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.articleCard:focus,
.articleCard:hover {
  background-color: rgb(175, 245, 245);
}

.articleCard__buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
